
<app-navbar></app-navbar>
<div class="container">
    <div class="row mt-4">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Salary</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                
                <th scope="col">Year of Experience</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>4589</td>
                <td>Ferin</td>
                <td>SE</td>
                <td>45000</td>
                <td>9847506341</td>
                <td>Ferin@gmail.com</td>
                
                <td>10</td>
              </tr>
              <tr>
                <td>4579</td>
                <td>Emerin</td>
                <td>SE</td>
                <td>35000</td>
                <td>9847507895</td>
                <td>emerin@gmail.com</td>
                
                <td>7</td>
              </tr>
              <tr>
                <td>6589</td>
                <td>Dizooza</td>
                <td>HR</td>
                <td>25000</td>
                <td>6257506341</td>
                <td>dizooza@gmail.com</td>
                
                <td>4</td>
              </tr>
              <tr>
                <td>4589</td>
                <td>Freya</td>
                <td>MD</td>
                <td>100000</td>
                <td>7557506341</td>
                <td>freya@gmail.com</td>
                
                <td>8</td>
              </tr>
              <tr>
                <td>4589</td>
                <td>Rayan</td>
                <td>SE</td>
                <td>80000</td>
                <td>3557506341</td>
                <td>rayan@gmail.com</td>
                
                <td>10</td>
              </tr>
              <tr>
                <td>9789</td>
                <td>Mariyam</td>
                <td>SD</td>
                <td>90000</td>
                <td>3547806341</td>
                <td>mariyam@gmail.com</td>
                
                <td>10</td>
              </tr>
              <tr>
                <td>4459</td>
                <td>Ann</td>
                <td>SE</td>
                <td>60000</td>
                <td>3554589632</td>
                <td>ann@gmail.com</td>
                
                <td>12</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
